@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

.lato {
  font-family: "Lato", sans-serif;
  font-style: normal;
  &_15px {
    @extend .lato;
    font-size: 15px;
    &_bold {
      @extend .lato_15px;
      font-weight: bold;
    }
  }

  &_18px {
    @extend .lato;
    font-size: 18px;
  }
}

.segoeui {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  &_24px {
    @extend .segoeui;
    font-size: 24px;
  }
  &_30px {
    @extend .segoeui;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400;
  }
  &_60px {
    @extend .segoeui;
    font-size: 60px;
    &_bold {
      @extend .segoeui_60px;
      font-weight: bold;
    }
  }
}
