@use "../../base/typography" as *;

.buttons {
  @extend .lato;

  &_standart {
    padding: 10px 15px;
    border: none;
    background-color: #000;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #000;
      outline: 1px solid;
    }
  }
}
