@use "./base/_normalize.scss" as *;
@use "./abstracts/_mixins.scss" as *;

@include devices(1440px) {
  .footer__social {
    width: 10%;
  }
}

@include devices() {
  header {
    .menu {
      position: static;
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px 20px;

      &__main {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      &__sub {
        right: 20px;
      }

      label {
        width: 100%;

        input[type="search"] {
          width: 100%;
        }
      }
    }
  }

  .content {
    &__top,
    &__middle {
      width: 75%;
    }

    &__top p:last-child {
      word-spacing: -1px;
    }
  }

  form .buttons {
    margin: 10px 0 0 0;
  }
}
@include devices(mobile) {
  header {
    .menu {
      &__main {
        flex-direction: column;

        li > a {
          padding-left: 0;
          display: block;
        }
      }

      &__sub {
        left: 0;
        width: min-content;
        position: static !important;
      }
    }

    label {
      width: 100%;
    }
  }

  .card li {
    line-height: 1.7;
    &:last-child {
      font-size: 0.9rem;
    }
  }
  /* TODO: @eminaltan Please find a resolution for place codes in _button.scss file. */
  .buttons_standart {
    font-size: 0.8rem;
  }

  .footer__contact {
    li:first-child {
      margin-top: 10px;
    }
  }

  .footer__social {
    width: 18%;
  }
}
